{% extends 'base.html' %}

{% block page_title %}Delete Category{% endblock %}

{% block content %}
    <h2>Menghapus Jenis Budget</h2>
    
    <p>Yakin mau menghapus semua budget berjenis kategori"{{ category }}"?</p>
    
    <form method="post" action=".">
        <table class="form_table">
            <tr>
                <td>
                    <input type="submit" name="confirmed" value="Ya">
                    or
                    <input type="button" name="do_not_delete" value="Batalkan">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}